fastapi
uvicorn[standard]
python-dotenv
pandas
numpy
xgboost
yfinance
statsmodels
scikit-learn
google-generativeai
langchain-experimental
langchain-google-genai
langgraph
selenium==4.15.2
webdriver-manager
tqdm
schedule
tabulate
psutil